apturl
asgiref
backports.zoneinfo
bcrypt
blinker
Brlapi
certifi
chardet
Click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
Django
django-cors-headers
django-environ
django-filter
djangorestframework
duplicity
entrypoints
fasteners
filelock
future
httplib2
idna
importlib-metadata
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
Markdown
MarkupSafe
monotonic
netifaces
oauthlib
olefile
paramiko
pbr
pexpect
Pillow
pip
platformdirs
protobuf
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyRFC3339
python-apt
python-dateutil
python-debian
python-environ
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
setuptools
simplejson
six
sqlparse
systemd-python
testresources
typing-extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
wadllib
wheel
xkit
zipp
