asgiref
backports.zoneinfo
bcrypt
blinker
certifi
chardet
Click
colorama
cryptography
defer
distro
Django
django-environ
django-cors-headers
django-filter
djangorestframework
Markdown
Pillow
requests
six
sqlparse
urllib3
